<ion-view title="call">
    <ion-pane>
        <ion-header-bar class="bar-stable icon-left ion-forward" ng-click="go('/main')">
        <!--<ion-header-bar class="bar-stable icon-left ion-forward">-->
            <h1 class="title">Запись на приём</h1>
        </ion-header-bar>
        <ion-content class="has-header">
            <br>
            <div class="row">
                <h3 class="blue text-left">Введите Ваши данные и мы обязательно Вам перезвоним для уточнения даты времени приёма</h3>
            </div>
            <div class="list list-inset">
                <h1 class="blue">Ваше имя:</h1>
                <label class="item item-input">
                    <!--<input type="text" placeholder="First Name">-->
                    <input type="text" ng-model="name">
                </label>
                <h1 class="blue">Ваше телефон:</h1>
                <label class="item item-input">
                    <!--<input type="text" placeholder="Last Name">-->
                    <input type="text" ng-model="phone">
                </label>
            </div>

            <div class="col col-33 col-offset-67">
                <button class="button button-block button-positive" style="margin: 0!important;" ng-click="request(name, phone)">
                    <h1 style="color: #ffffff">OK</h1>
                </button>
            </div>

        </ion-content>
    </ion-pane>
</ion-view>