<ion-view title="menu">
    <ion-pane>
        <ion-header-bar class="bar-stable icon-left ion-forward" ng-click="go('/main')">

            <h1 class="title">Меню</h1>
        </ion-header-bar>
        <ion-content class="has-header">

            <div class="row" ng-repeat="offer in offers">
                <div class="col col-25">
                    <img src="">
                </div>
                <div class="col col-75">
                    <img src="">
                </div>
            </div>

        </ion-content>
    </ion-pane>
</ion-view>