<ion-view title="NewsList">
    <ion-pane>
        <ion-header-bar class="bar-stable icon-left ion-forward" ng-click="go('/main')">
            <!--<a href="#/main">newsds</a>-->

            <h1 class="title">Ionic Blank Starter</h1>
        </ion-header-bar>
        <ion-content class="has-header">

            <div class="row">
                <div class="col col-50 col-offset-25">
                    <img src="logo.svg">
                </div>
            </div>
            <div class="row" style="margin: 0">
                <div class="col col-50 col-offset-25"  >
                    <button class="button icon-left ion-iphone button-block button-positive" id="m" style="margin: 0!important;">
                        Позвонить нам
                    </button>
                </div>
            </div>
            <div class="row" style="margin: 0">
                <div class="col col-50 col-offset-25" >
                    <button class="button icon-left ion-ios7-location button-block button-positive" style="margin: 0!important;">
                        Мы на карте
                    </button>
                </div>
            </div>
            <div class="row" style="margin: 0">
                <div class="col col-50 col-offset-25"  >
                    <button class="button icon-left ion-clipboard button-block button-positive" style="margin: 0!important;">
                        Запись на приём
                    </button>
                </div>
            </div>
            <div class="row" style="margin: 0">
                <div class="col col-50 col-offset-25"  >
                    <button class="button icon-left ion-android-storage button-block button-positive" style="margin: 0!important;">
                        <h1 style="color: #ffffff">Мdddеню</h1>
                    </button>
                </div>
            </div>

        </ion-content>
    </ion-pane>
</ion-view>